<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css" />
    <title>Contact Detail</title>
</head>

<body>
    <h1>{{ contact.first_name }} {{ contact.last_name }}</h1>
    <p>Email: {{ contact.email }}</p>
    <p>Phone Number: {{ contact.phone_number }}</p>
    <p>Address: {{ contact.address }}</p>
    <a href="{% url 'contact_update' contact.pk %}">Edit</a>
    <a href="{% url 'contact_delete' contact.pk %}">Delete</a>
    <a href="{% url 'contact_list' %}">Back to List</a>
</body>

</html>